@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --blue: #0a3641;
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

main {
  margin: 0;
  min-height: 100vh;
}

/* Nav erea */
.top-navigation {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

li,
a {
  font-family: var(--font);
  font-weight: 500;
  font-size: 16px;
  color: #0a3641;
  text-decoration: none;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 5px 20px;
}

i {
  font-size: 25px;
  padding: 9px 100px;
  transition: all 0.3s ease 0s;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 10px;
}

.logo {
  width: 200px;
  cursor: pointer;
}

.men-woman {
  display: flex;
  background-color: #0a3641;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding: 0;
}

.men-woman li {
  display: inline-block;
  padding: 5px 20px;
}

.men-woman a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  font-family: var(--font);
  color: #ffffff;
  padding: 0px 20px 0px 20px;
}
/* Nav erea */

/* Frontpage picture */
.frontpage {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 0.005)),
    url("../images/homepage.jpg");
  height: 105vh;
  padding: 0;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.punshline h1 {
  position: relative;
  text-decoration: none;
  top: 25%;
  left: -25%;
  font-family: var(--font);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 55px;
  text-shadow: -2px 3px #000000;
}
/* Frontpage picture */

/* Jacket section */
.jacket-list {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  background-color: var(--blue);
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.men h2 {
  text-decoration: underline;
  font-size: 30px;
  margin: 20px;
  width: fit-content;
  position: relative;
  color: #fff;
  background-color: var(--blue);
  text-align: center;
}

.women h2 {
  text-decoration: underline;
  font-size: 30px;
  margin: 20px;
  width: fit-content;
  position: relative;
  color: #fff;
  background-color: var(--blue);
  text-align: center;
}

.block {
  margin-bottom: 25px;
  width: 100px;
  position: relative;
  color: var(--blue);
  background-color: var(--blue);
  text-align: center;
}

.jacket-list h3 {
  line-height: 10px;
  margin-top: 5px;
  text-align: left;
  color: #fff;
  background-color: var(--blue);
}
/* Jacket section */

/* Banner section */
.banner-text h1 {
  font-size: 40px;
  padding: 20px;
  text-transform: uppercase;
  margin: 0;
}

.banner-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.151)),
    url("../images/Cuality-backgruound.jpg");
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 90vh;
}

.banner-text {
  position: relative;
  top: 20%;
  left: 3%;
  width: 45%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  color: #fff;
  z-index: 5;
}

.banner-text p {
  padding: 10px 10px 40px 20px;
  line-height: 30px;
}
/* Banner section */

/* Footer */
footer {
  width: 100%;
  height: 400px;
  margin: 0;
  background-color: var(--blue);
  color: #fff;
}

footer .footer-content {
  height: 320px;
  display: flex;
  justify-content: space-evenly;
}

footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
}

footer .footer-content h3,
footer .footer-content p {
  color: #fff;
}

footer .delivery h3,
footer .delivery p {
  width: 250px;
  line-height: 25px;
  padding-left: 50px;
}

footer .social-media {
  display: inline;
  justify-content: space-evenly;
  text-align: center;
}

footer .footer-section i {
  width: 50px;
  height: 50px;
  font-size: 35px;
  padding: 30px 10px 10px 0px;
  justify-content: center;
  display: inline-flex;
}

footer .search-box {
  display: inline;
  align-items: center;
  font-family: var(--font);
}

footer .search {
  width: 200px;
  padding-top: 10px;
  height: 45px;
  border: 3px solid var(--blue);
  border-right: #fff;
}

footer .search-button {
  background-color: #fff;
  padding: 13px 10px 8px 10px;
  border: 3px solid var(--blue);
  border-left: #fff;
}

footer .google-maps {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-bottom {
  color: #fff;
  height: 50px;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0px;
  left: 0px;
  padding-top: 15px;
}
/* Footer */

/* Men section site */
.frontpage-men {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.151)),
    url("../images/Men.background.jpg");
  height: 90vh;
  padding: 0;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.headline h1 {
  position: relative;
  text-decoration: none;
  top: 35%;
  left: -130%;
  font-family: var(--font);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 30px;
  text-shadow: -2px 3px #000000;
}

.banner-img-men {
  background-image: linear-gradient(rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0.151)),
    url("../images/Section-background.jpg");
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 90vh;
}
/* Men section site */

/* Women section site */
.frontpage-women {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0.151)),
    url("../images/Women-nackground.jpg");
  height: 90vh;
  padding: 0;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.headline h1 {
  position: relative;
  text-decoration: none;
  top: 35%;
  left: -90%;
  font-family: var(--font);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 36px;
  text-shadow: -2px 3px #000000;
}
/* Women section site */

/* About page */
.about-content {
  display: flex;
  justify-content: inline;
}

.frontpage-about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.151)),
    url(../images/About-background.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  filter: blur(7px);
}

.about-text {
  position: absolute;
  line-height: 30px;
  font-family: var(--font);
  top: 60%;
  left: 30%;
  transform: translate(-60%, -30%);
  z-index: 5;
  width: 40%;
  text-align: left;
  flex: 1;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
}

.about-img {
  position: absolute;
  top: 60%;
  right: -10%;
  transform: translate(-60%, -40%);
  z-index: 5;
  width: 40%;
  text-align: right;
  padding-top: 20px;
}

.about-img img {
  padding-top: 20px;
}

.about-text h1 {
  padding-bottom: 30px;
}
/* About page */

/* Contact page */
.background-contact {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.151)),
    url(../images/Contact-img.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}
.contact-content {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 80px;
  color: #fff;
}
.form {
  width: 40%;
  padding-right: 30px;
}

.contact-content h2 {
  padding-bottom: 30px;
}

input,
textarea {
  margin-bottom: 20px;
  padding-right: 30px;
  border: var(--blue) solid 3px;
}

.text-contact {
  width: 65%;
  padding-right: 30px;
  line-height: 30px;
}

.img-contact {
  padding-top: 80px;
}
/* Contact page */

/* Hiking Men Page */

.background-jackets {
  background-image: url(../images/Hiking-background.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}
.content-jacket {
  display: flex;
  flex-direction: row;
  flex-wrap: inherit;
  justify-content: center;
}

.jacket-img {
  margin: 150px 100px 100px 100px;
  padding: 30px 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

.text-container {
  margin: 100px 0px 0px 40px;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  background-color: #433f34;
  color: #fff;
  box-shadow: 0px 0px 15px 2px #000000;
}

.left-text {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  line-height: 40px;
  margin-left: 5rem;
  width: 400px;
}

.right-text {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-left: 8rem;
  padding-top: 4rem;
  line-height: 30px;
  margin-right: 4rem;
}

#xs,
#s,
#m,
#l,
#xl {
  display: none;
}

#xs:checked + label,
#s:checked + label,
#m:checked + label,
#l:checked + label,
#xl:checked + label {
  background-color: var(--blue);
  color: #fff;
}

.sizes label {
  border: 3px solid var(--blue);
  padding: 2px 15px;
  display: inline-block;
  margin-top: 5px;
}

label {
  cursor: pointer;
  background-color: #fff;
  color: var(--blue);
  transition: all 0.3s;
}

label:hover {
  cursor: pointer;
  background-color: var(--blue);
  color: #fff;
  transition: all 0.3s;
}

input {
  outline: none;
}

.atc {
  text-decoration: none;
  color: var(--blue);
  background-color: #fff;
  margin-top: 2rem;
  padding: 5px 0px;
  border: 3px solid var(--blue);
  display: flex;
  justify-content: center;
  box-shadow: 1px 0px 7px 1px #000000;
  transition: all 0.3s;
}

.atc:hover {
  background-color: var(--blue);
  color: #fff;
  transition: all 0.3s;
}
/* Hiking Men Page */

/* Skiing men page */
.background-jackets-skiing {
  background-image: url(../images/Skiing-background.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.text-container-skiing {
  margin: 100px 0px 0px 40px;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  background-color: #5c8ba5;
  color: #fff;
  box-shadow: 0px 0px 15px 2px #000000;
}
/* Skiing men page */

/* Camping men page */
.background-jackets-camping {
  background-image: url(../images/Camping.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.text-container-camping {
  margin: 100px 0px 0px 40px;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  background-color: #ac6137;
  color: #fff;
  box-shadow: 0px 0px 15px 2px #000000;
}
/* Camping men page */

/* Canoeing men page */
.background-jackets-canoeing {
  background-image: url(../images/canoeing-background.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.text-container-canoeing {
  margin: 100px 0px 0px 40px;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  background-color: #788945;
  color: #fff;
  box-shadow: 0px 0px 15px 2px #000000;
}
/* Canoeing men page */

/* Hiking women page */
.text-container-hiking-women {
  margin: 100px 0px 0px 40px;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  background-color: #818286;
  color: #fff;
  box-shadow: 0px 0px 15px 2px #000000;
}
/* Hiking women page */

/* Skiing women page */
.text-container-skiing-women {
  margin: 100px 0px 0px 40px;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  background-color: #74b5c1;
  color: #fff;
  box-shadow: 0px 0px 15px 2px #000000;
}
/* Skiing women page */

/* camping women page */
.text-container-camping-women {
  margin: 100px 0px 0px 40px;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  background-color: #966368;
  color: #fff;
  box-shadow: 0px 0px 15px 2px #000000;
}
/* camping women page */

/* canoeing women page */
.text-container-canoeing-women {
  margin: 100px 0px 0px 40px;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  background-color: #6a5284;
  color: #fff;
  box-shadow: 0px 0px 15px 2px #000000;
}

/* canoeing women page */
