@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

li,
a,
i {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #0a3641;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
}
.logo img {
  padding: 5px 20px;
  width: 190px;
  float: left;
  height: auto;
}

.ul.nav__link {
  list-style: none;
}

.ul.nav__link li {
  display: inline-block;
  padding: 0px 20px;
}

.ul.nav__link li a {
  transition: all 0.3s ease 0s;
}

.ul.nav__link li a:hover {
  color: #0a3641;
  text-decoration: none;
  text-decoration-color: #ffffff;
}

i {
  padding: 9px 25px;
  transition: all 0.3s ease 0s;
}
